/home/$USER/.config/rofi/.current_wallpaper_focused
/home/$USER/.config/rofi/.current_wallpaper_eDP-1
/home/$USER/.config/rofi/.current_wallpaper
/home/$USER/.config/quickshell/qml_color.json
/home/$USER/.config/kitty/kitty-themes
/home/$USER/.config/hypr/wallust
/home/$USER/.config/hypr/wallpaper_effects
/home/$USER/.config/waybar/wallust
/home/$USER/.config/rofi/wallust
