.config/rofi/wallust/*.rasi
.config/rofi/.current_wallpaper_focused
.config/rofi/.current_wallpaper_eDP-1
.config/rofi/.current_wallpaper
.config/quickshell/qml_color.json
.config/kitty/kitty-themes/*.conf
.config/hypr/wallust/
.config/hypr/wallpaper_effects/
.config/waybar/wallust/*.css
