 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #0F598F;
active-foreground: #D1ECF8;
normal-background: #111215;
normal-foreground: #D1ECF8;
urgent-background: #5890AC;
urgent-foreground: #D1ECF8;

alternate-active-background: #35576D;
alternate-active-foreground: #D1ECF8;
alternate-normal-background: #111215;
alternate-normal-foreground: #D1ECF8;
alternate-urgent-background: #111215;
alternate-urgent-foreground: #D1ECF8;

selected-active-background: #5890AC;
selected-active-foreground: #D1ECF8;
selected-normal-background: #5890AC;
selected-normal-foreground: #D1ECF8;
selected-urgent-background: #0F598F;
selected-urgent-foreground: #D1ECF8;

background-color: #111215;
background: rgba(0,0,0,0.7);
foreground: #D1ECF8;
border-color: #0F598F;

color0: #393A3D;
color1: #080D18;
color2: #0D1622;
color3: #284151;
color4: #0B436B;
color5: #426C81;
color6: #5C97B1;
color7: #B4DBED;
color8: #7E9AA6;
color9: #0B1220;
color10: #121D2D;
color11: #35576D;
color12: #0F598F;
color13: #5890AC;
color14: #7BC9EC;
color15: #B4DBED;


}

